# Numpy & Paandas Application

In [63]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Data Cleaning & Manipulating

In [ ]:


## Suppose df1 is a mid-term result of a class, and df2 is a final result of a class
## 1. take the sumation of two DataFrame then take the Avg for each person.
## 2. simulate one student has cheated on the final exam, give this student a 0
## 3. bounus all students that not cheated on the exam by adding 10

In [36]:
df1 = pd.DataFrame(np.random.randint(50,100,16).reshape((4,4)))
df1.index = ['student1','student2','student3','student4']
df1.columns = ['math','english','python','statistics']
df1

          math  english  python  statistics
student1    78       84      98          99
student2    53       94      65          51
student3    77       92      58          84
student4    83       85      55          89

In [37]:
df2 = pd.DataFrame(np.random.randint(50,100,16).reshape((4,4)))
df2.index = ['student1','student2','student3','student4']
df2.columns = ['math','english','python','statistics']
df2

          math  english  python  statistics
student1    74       88      98          76
student2    74       81      94          91
student3    68       80      69          64
student4    87       65      94          58

In [38]:
final_result = (df1+df2)/2
final_result

          math  english  python  statistics
student1  76.0     86.0    98.0        87.5
student2  63.5     87.5    79.5        71.0
student3  72.5     86.0    63.5        74.0
student4  85.0     75.0    74.5        73.5

In [53]:
final_result.loc['student1'] = 0
final_result

          math  english  python  statistics
student1   0.0      0.0     0.0         0.0
student2  63.5     87.5    79.5        71.0
student3  72.5     86.0    63.5        74.0
student4  85.0     75.0    74.5        73.5

In [54]:
(final_result[final_result != final_result.loc['student1']]+10).fillna(0)

          math  english  python  statistics
student1   0.0      0.0     0.0         0.0
student2  73.5     97.5    89.5        81.0
student3  82.5     96.0    73.5        84.0
student4  95.0     85.0    84.5        83.5

In [ ]:


### when it comes to time series data, fillig is a good method to keep the series continuous

In [60]:
S = pd.Series([0.11, 0.12, 0.13], index=[0, 1, 3])
S


S.reindex(range(0,5)) # in order to handle these missing values. now introducing backword/forward filling



S.reindex(range(0,5),method = 'ffill')

0    0.11
1    0.12
3    0.13
dtype: float64

0    0.11
1    0.12
2     NaN
3    0.13
4     NaN
dtype: float64

0    0.11
1    0.12
2    0.12
3    0.13
4    0.13
dtype: float64

In [81]:
# we can also adopt this method to a DataFrame 
df = DataFrame(np.random.randint(0,2,9).reshape((3, 3)), 
                  index=['house1', 'house2', 'house3'],
                  columns=['bedroom', 'bathroom', 'livingroom'])
df

df.reindex(index = ['house1','house2','house3','house4'], method='ffill')

        bedroom  bathroom  livingroom
house1        0         0           1
house2        1         0           0
house3        0         1           1

        bedroom  bathroom  livingroom
house1        0         0           1
house2        1         0           0
house3        0         1           1
house4        0         1           1

In [ ]:



# Define a function that product two list of elements as DataFrame

In [144]:
# Traditional way
def as_DataFrame(list1,list2):
    lst = []
    for i in range(len(list1)):
        for j in range(len(list2)):
            lst.append(str(list1[i])+str(list2[j]))
    return DataFrame(np.array(lst).reshape(2,2), index =list1, columns=list2 )





# Comprehension way
def As_DataFrame(list1,list2):
    data = {i:[str(j)+str(i) for j in list1] for i in list2}
    return DataFrame(data, index=list1, columns = list2)

In [145]:
as_DataFrame(['A','B'],['1','2'])
As_DataFrame(['A','B'],['1','2'])

    1   2
A  A1  A2
B  B1  B2

    1   2
A  A1  A2
B  B1  B2

In [146]:
lines = 81+145

In [147]:
print('lines of code %i'%lines)

lines of code 226