# Python build-in Data Type

| Type            | Function                                                                   |
| :-------------  |:---------------------------------------------------------------------------|
| Text            | `str`                                                                      |
| Numeric         | `int`  `float` `complex`                                                   |
| Sequence        | `list` `tuple` `range`                                                     |
| Mapping         | `dictionary`                                                               |
| Set             | `set`  `frozenset`                                                         |
| Boolean         | `bool`                                                                     |
| Binary          | `bytes` `bytearray` `memoryview`                                           |

|Example|Data Type|
| :-------------  |:---------------------------------------------------------------------------|
|str	|x = "Hello World"
|int	|x = 20	
|float	|x = 20.5	
|complex	|x = 1j	
|list |x = ["apple", "banana", "cherry"]	
|tuple |x = ("apple", "banana", "cherry")		
|range	|x = range(6)	
|dict |x = {"name" : "John", "age" : 36}		
|set	|x = {"apple", "banana", "cherry"}	
|frozenset	|x = frozenset({"apple", "banana", "cherry"})	
|bool	|x = True	
|bytes	|x = b"Hello"	
|bytearray	|x = bytearray(5)	
|memoryview |x = memoryview(bytes(5))

# String

 <div class="alert alert-block alert-info">
 * Strings are identified as a contiguous set of characters represented in the quotation marks
 * Substrings can be taken using slice operator **<font color=blue>[ ]</font>** with indexes starting at **<font color=blue>0</font> in the beginning of the string ** and working their way from **<font color=blue>-1</font> at the end **.
 * Strings can be concatenated using **<font color=blue>+</font>**
 * Useful string functions: **<font color=blue>strip, lstrip, rstrip, split, lower, upper, find, rfind, replace</font>**

#### Create a string

In [6]:
s0 =''               # an empty string
s = 'Hello World!'
print('An empty string:',s0)
print('_______________________ \n')
print('This is a non-empty string:',s)

An empty string:
_______________________

This is a non-empty string: Hello World!

#### Slicing a string

In [11]:
print(s)          # Prints complete string
print('_______________________ \n')


print(s[0])       # Prints first character of the string
print('_______________________ \n')


print(s[2:5])     # Prints characters starting from 3rd to 5th
print('_______________________ \n')


print(s[2:] )     # Prints string starting from 3rd character
print('_______________________ \n')


print(s[-1])      # Prints the last character 
print('_______________________ \n')


print(s[-3:])     #get the last three characters
print('_______________________ \n')


print(s[0:10:2])   # step-wise slicing; [start,end,step]

Hello World!
_______________________

H
_______________________

llo
_______________________

llo World!
_______________________

!
_______________________

ld!
_______________________

HloWr

# List

<div class="alert alert-info" style="margin: 20px">
    
* Items in a list can be of **different data type** e.g. numbers, strings, lists, tuples, dictionaries
* Values in a list can be accessed using slice operator **<font color=blue>[ ]</font>** with indexes starting at **<font color=blue>0</font> for the first element ** and working their way from **<font color=blue>-1</font> at the end **.

* Lists can be concatenated using **<font color=blue>+</font>**
* A string is actually a list of characters without commas!

In [61]:
list0 = [ 'welcome', "to" , "my", 'notebook' ]
list1 = ['welcome to my notebook']
print(list1)
print('________________________ \n')
print(list2)

['welcome to my notebook']
________________________

['welcome to my notebook']

#### length of a lsit

In [62]:
print(f'the length of list0 is {len(list0)}, and length of list1 is {len(list1)}')

the length of list0 is 4, and length of list1 is 1

#### List indexing

In [63]:
print (list0)          # Prints complete list
print('_______________________ \n')



print (list0[0])       # Prints first element of the list
print('_______________________ \n')



print (list0[1:3])     # Prints elements starting from 2nd till 3rd 
print('_______________________ \n')



print (list0[2:])      # Prints elements starting from 3rd element
print('_______________________ \n')



print (list0[-1])      # Prints the last element
print('_______________________ \n')

# concatenate elements in a list
print ("+".join(list0))# join elements into a single string with " " as the separator

print('_______________________ \n')
# concatenate lists
print (list0 + list1)  # Prints concatenated lists

['welcome', 'to', 'my', 'notebook']
_______________________

welcome
_______________________

['to', 'my']
_______________________

['my', 'notebook']
_______________________

notebook
_______________________

welcome+to+my+notebook
_______________________

['welcome', 'to', 'my', 'notebook', 'welcome to my notebook']

In [52]:
list2 = ['My python notebook','List indexing']
list2

['My python notebook', 'List indexing']

In [60]:
print(list2[0])
print(list2[0][3:9])

My python notebook
python

<font color= red> indexing always from 0. and the range of indexing always [start, end)

#### append / extend/ remove

In [39]:
list3 = [1,2,3,4,5,'a','b']
list3

[1, 2, 3, 4, 5, 'a', 'b']

In [40]:
list3.append("c")     # append "c" to the end of the list
print (list3)

[1, 2, 3, 4, 5, 'a', 'b', 'c']

In [41]:
list3.extend("d")     # extend "d" to the end of the list
print (list3)

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd']

<font color = red> when it comes to a new list, a difference between append and extend will show

In [42]:
list4 = ['11','22','33']
list3.append(list4)
print (list3)

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', ['11', '22', '33']]

In [43]:
list5 =['aa','bb','cc']
list3.extend(list5) 
print (list3)

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', ['11', '22', '33'], 'aa', 'bb', 'cc']

In [36]:
list3.remove("a")     # remove the first "a" found in the list from the beginning
print (list3)

[1, 2, 3, 4, 5, 'b', 'c', 'd']

# Tuples

<div class="alert alert-info" style="margin: 20px">
    
* Tuples are enclosed within parentheses **<font color=blue>( )</font>**, while lists are enclosed in **<font color=blue>[ ]</font>**.
    
* A tuple, once declared, **<font color=blue>cannot be updated (read-only)</font>**, while the elements and size of a list can be changed

In [103]:
tuple1 = ( 'welcome', "to" , "my", 'notebook' )
tuple2 = ('tuple(mynotebook)', 1994)

print (tuple1)          # Prints complete tuple
print('_______________________ \n')


print (tuple1[0])       # Prints first element of the tuple
print('_______________________ \n')



print (tuple1[1:3])     # Prints elements starting from 2nd till 3rd 
print('_______________________ \n')



print (tuple1[2:])      # Prints elements starting from 3rd element
print('_______________________ \n')



print (tuple1 + tuple2)  # Prints concatenated tuples

('welcome', 'to', 'my', 'notebook')
_______________________

welcome
_______________________

('to', 'my')
_______________________

('my', 'notebook')
_______________________

('welcome', 'to', 'my', 'notebook', 'tuple(mynotebook)', 1994)

In [84]:
# Make a list of tuple
# e.g. [(1,'Mary'),(2,'Tom'),(3, 'Joe')]

ids=(1,2,3)
names=('Mary','Tom','Joe')

In [85]:
x=[(ids[0], names[0]),(ids[1], names[1]),(ids[2], names[2]) ]
print(x)

[(1, 'Mary'), (2, 'Tom'), (3, 'Joe')]

In [86]:
# A efficient way: zip function - combine lists element-wise
# zip function in python 3 returns an iterator
# use list function to convert an iterator to list
zipped=list(zip(ids, names))   
print(zipped)

[(1, 'Mary'), (2, 'Tom'), (3, 'Joe')]

In [98]:
# how to convert zipped back to unzipped? zip itself can also be an unzipped
idx, names = list(zip(*zipped))
print(idx, names)

(1, 2, 3) ('Mary', 'Tom', 'Joe')

# Dictionary

<div class="alert alert-info" style="margin: 20px">

*  A dictionary is made of key-value pairs, e.g. {1:'Mary Joe', 2:'David Johnson'} 
*  Keys are **unique**
*  A dictionary is enclosed by **curly braces { }** 
*  Values can be assigned and accessed using **square braces [ ]**
*  Keys are usually **numbers or strings**, but values can be of any python data types, e.g. numbers, strings, lists, tuples, dictionaries

In [101]:
dict1 = {}                     # define an empty dictionary

dict1['one'] = "This is one"   # add  key-value pairs to the dictionary
dict1[2]     = "This is two"

dict1

{'one': 'This is one', 2: 'This is two'}

In [102]:
dict2 = {1:'Mary Joe', 2:'David Johnson'}  # a more compact way to define a dictionary
dict2

{1: 'Mary Joe', 2: 'David Johnson'}

In [105]:
print (dict1['one'])       # Prints value for 'one' key
print('_______________________ \n')



print (dict1[2])           # Prints value for 2 key
print('_______________________ \n')



print (dict2)              # Prints complete dictionary
print('_______________________ \n')



print (dict2.keys())       # Prints all the keys
print('_______________________ \n')



print (dict2.values())     # Prints all the values
print('_______________________ \n')

This is one
_______________________

This is two
_______________________

{1: 'Mary Joe', 2: 'David Johnson'}
_______________________

dict_keys([1, 2])
_______________________

dict_values(['Mary Joe', 'David Johnson'])
_______________________

In [106]:
print (list(dict2.items()) ) # print key-value pair as a list of tuples

[(1, 'Mary Joe'), (2, 'David Johnson')]